[Unit]
Description=Discord Message Utlity Bot
After=docker.service network-online.service
Requires=docker.service network-online.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/mnt/zpool0/vm/docker/message_utility_bot

ExecStart=/usr/bin/docker-compose up -d
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target
